.top-navigation{
    background: $mainColor;
}
.top-navigation > ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
}
.top-navigation > ul > li{
    padding: 1rem;
}
.top-navigation > ul > li:active{
    background: $mainColorDark;
    padding: 1rem;
}

.nav-link{
    color: #fff;
}